
header {
    height: 100vh;
    background: lightblue;
    button {
        background-color: $primaryBtn;
        &:hover{
            background-color: red;
        }
        &::after{ //add content after the content of button
            content: "hello guys";
        }
    }

}