 @import './variables';
 @mixin flexCenter ($direction , $background){
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: $direction;
      background-color: $background

  }
header {
    @include flexCenter(column , pink);
    
    height: 100vh;
    color: $textColor;
    button {
        background-color: $primaryBtn;
        &:hover{
            background-color: red;
        }
        &::after{ //add content after the content of button
            content: "hello guys";
        }
    }

}